<!doctype html>
<html lang="ru">
{% load static %}
{% load my_tags %}

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title>Библиотека книг</title>
  </head>
  
  <header class="header_area">
    <br>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ '/books/' }}">Все книги</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: auto;">
            <li class="nav-item active">
              <a class="nav-link" href="{{ '/authors/' }}">Авторы<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ '/genres/' }}">Жанры<span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_staff %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'new_book' %}">Создать<span class="sr-only">(current)</span></a>
              </li>
            {% endif %}
            <li class="nav-item active" >
              <a class="nav-link" href="{% url 'search_details' %}">Поиск<span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated  %}
              <li class="nav-item active" >
                <a class="nav-link" href="{% url 'profile' %}">Профиль<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active" >
                <a class="nav-link" href="{% url 'logout' %}">Выйти<span class="sr-only">(current)</span></a>
              </li>
            {% else %}
              <li class="nav-item active" >
                <a class="nav-link" href="{% url 'login' %}">Войти<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active" >
                <a class="nav-link" href="{% url 'register' %}">Регистрация<span class="sr-only">(current)</span></a>
              </li>
            {% endif %}
            <li class="nav-item active" style="max-width: 220px;" >
              <form method="post" action="/search/" class="d-flex">
                {% csrf_token %}
                <input class="form-control mr-2" type="search" placeholder="Поиск" aria-label="Search" name="search_field">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
              </form>
            </li>
          </ul>
          
        </div>
        
      </nav>
    </div>
  </header>
  <body>
    <div class="container">
      <h2 style="text-align: center;">{{ block_name }}</h2>
    </div>
   
    {% if page.paginator.num_pages > 1 %}
      <nav aria-label="page navigation">
        <ul class="pagination justify-content-center">
          {% if not page.has_previous %}
            <li class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true">Назад</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page.previous_page_number }}" tabindex="-1" aria-disabled="true">Назад</a>
            </li>
          {% endif %}
          {% get_page_range page 8 as page_range %}
          {% for page_num in page_range %}
            {% if page_num != page.number %}
              <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% else %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="?=page{{ page_num }}"> {{ page.number }} <span class="sr-only">(current)</span></a>
              </li>
            {% endif %}
          {% endfor %}
          {% if not page.has_next %}
            <li class="page-item disabled">
              <a class="page-link disabled">Вперед</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link"  href="?page={{ page.next_page_number }}">Вперед</a>
            </li>
          {% endif %}
        </ul>
      </nav>
      
    {% endif %}
    
    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
  </body>
</html>
